body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:963px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:37px;
  width:360px;
  height:640px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:641px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:37px;
  width:1px;
  height:640px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:677px;
  width:361px;
  height:1px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:641px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:37px;
  width:1px;
  height:640px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:2px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:37px;
  width:361px;
  height:1px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:37px;
  width:60px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:37px;
  width:535px;
  height:78px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  word-wrap:break-word;
}
